/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box; }

body,
html {
  margin: 0;
  padding: 0; }

body {
  background: url("./img/background.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; }
